/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css?family=Gudea:700|Neuton:200');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
  margin:0; padding:0; outline:none;
  }

/* ---- /reset ---- */

#wrapper{
  width: 960px;
  margin: 0 auto;
  text-align: center;
  font-family: Georgia, serif;
}
#content{
  padding: 50px 0 0 0;
}
h1{
  font-size: 125px;
  font-weight: normal;
  font-family: 'Gudea',Verdana, Arial, sans-serif;
  margin:0;
  padding:0;
  color: #ccc;
}
h2{
  font-size: 30px;
  font-weight: normal;
  font-family: 'Neuton', serif;
  letter-spacing: 10px;
  padding:0;
  margin: 0px 0 0 0;
  color: #ccc;
}
p{
  padding: 15px 0 0 0;
  color:#999;
  font-family: georgia;
  font-size: 20px;
}

#bio p{
  text-align: left;
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 1.65;
  overflow: hidden;
  width: 680px;
  margin: 0 auto;
}

#bio img{
  padding: 20px 0 0 20px;
}

/* ---- Social ---- */

#social ul li a{
  display: block;
  height: 32px;
  width: 32px;
}

.tuck{
  position: absolute;
  left: -9999px;
}
#social {
  text-align: center;
  margin: 0 auto;
  padding: 50px 0 0 0;
  width: 600px;
}
#social h3{
  color: #ccc;
  font-size: 20px;
  text-align: center;
}
#social ul{
  margin: 0 auto;
}
#social ul li{
  float: left;
  margin: 0 10px 0 0;
  list-style-type: none;
}
#social ul li a.facebook{
  background: url(../images/facebook.png) no-repeat;
  
}
#social ul li a.twitter{
  background: url(../images/twitter.png) no-repeat;
}
#social ul li a.myspace{
  background: url(../images/myspace.png) no-repeat;
}
#social ul li a.skype{
  width: 175px;
}
#social ul li a.text-links{
  width: auto;
  color: #333;
  margin: 18px 0 0 0;
  text-decoration: none;
}
#social ul li a.text-links:hover{
  text-decoration: underline;
}

